
/* ===== body ===== */
.error404 .section .content-area {
	text-align: center;
}

.error404 .error-404 .btn {
	margin-top: 30px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.error404 .section .content-area .section-title {
		font-size: 60px;
	}

}